.slider {
    height:90vh;
    width:100vw;
}
body {
    overflow: visible;
}
.brand-logo {
    margin-top:-.2%;
    margin-left:4%;

}
.menu-item:hover {
    border-bottom:3px solid #367cdf;
    background-color:transparent;
    font-family: "Open Sans", sans-serif;

}
nav ul a:hover {
    background-color: transparent;
    color: #367cdf;
}
nav ul a {
    font-family: "Open Sans", sans-serif;
    font-size: large;
    color:black;
    /*margin-top:10%;*/

}
.card {
    cursor: pointer;
}
#nav-mobile {
    margin-right:5%;
    margin-top:1.3%;
}
#learn-more-btn{
    margin-top:30%;
    margin-left:20%;
}


.grey-background {
    background-color: #F9F9F9;
}

.grey-text-color {
    color : #6F6F6F !important;
}

.green-text-color {
    color: #689F38 !important;
}

.user-svg {
    height: 75px;
    width: 75px;
}

.roboto-thin {
    font-family: Roboto, serif !important;
    font-weight: 200;
}

/* PRELOADER STYLE
*/
.preloader-body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
}

.preloader-body {
    background: #111;
    background: radial-gradient(#111111, #000000);
}

.blob {
    width: 2rem;
    height: 2rem;
    background: rgba(230, 230, 230, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.blob-2 {
    animation: animate-to-2 1.5s infinite;
}

.blob-3 {
    animation: animate-to-3 1.5s infinite;
}

.blob-1 {
    animation: animate-to-1 1.5s infinite;
}

.blob-4 {
    animation: animate-to-4 1.5s infinite;
}

.blob-0 {
    animation: animate-to-0 1.5s infinite;
}

.blob-5 {
    animation: animate-to-5 1.5s infinite;
}

@keyframes animate-to-2 {
    25%, 75% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-3 {
    25%, 75% {
        transform: translateX(1.5rem) scale(0.75);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-1 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    50%, 75% {
        transform: translateX(-4.5rem) scale(0.6);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-4 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }
    50%, 75% {
        transform: translateX(4.5rem) scale(0.6);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-0 {
    25% {
        transform: translateX(-1.5rem) scale(0.75);
    }
    50% {
        transform: translateX(-4.5rem) scale(0.6);
    }
    75% {
        transform: translateX(-7.5rem) scale(0.5);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}
@keyframes animate-to-5 {
    25% {
        transform: translateX(1.5rem) scale(0.75);
    }
    50% {
        transform: translateX(4.5rem) scale(0.6);
    }
    75% {
        transform: translateX(7.5rem) scale(0.5);
    }
    95% {
        transform: translateX(0rem) scale(1);
    }
}

.banner-text {
    color: rgb(76, 16, 193);
    font-family: "GothamRounded-Light", "Arial", sans-serif;
    font-size: 57px;
    line-height: 1.2;
    text-transform: capitalize;
}

.custom-purple-color {
    background-color: rgb(76, 16, 193) !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.custom-purple-color:hover {
    background-color: #f9f9f9
}

.skew-it-rev {
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
}
.skew-it {
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
}

/* label color */
.input-field label {
    color: teal;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgb(76, 16, 193);
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(76, 16, 193);
    box-shadow: 0 1px 0 0 rgb(76, 16, 193);
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: rgb(76, 16, 193);
}
